#services{
    margin-bottom:30px;
}
/* Style the tab */
.tab {
  float: left;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
  width: 30%;
  /*height: 300px;*/
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  /*transition: 0.3s;*/
  font-size: 17px;
}

/* Change background color of buttons on hover */
/*.tab button:hover {*/
  /*background-color: #ddd;*/
/*}*/

/* Create an active/current "tab button" class */
.tab button.active {
  /*background-color: #ccc;*/
  border-bottom:2px solid red;
  /*border-radius:50px;*/
}

/* Style the tab content */
.tabcontent {
  float: left;
  /*padding: 12px 12px;*/
  /*border: 1px solid #ccc;*/
  width: 70%;
  /*border-left: none;*/
  /*height: 300px;*/
}
.ttt{
    color:#fff;
   
}
#main-p{
    margin-bottom:30px;
}
.textonimg{
    position : absolute;
    bottom   : 0;
    align:left;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.interior-areas {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}

.interior-areas li { 
  padding-left: 16px; 
}

.interior-areas li::before {
  content: "âœ“"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #ba1c24; /* Or a color you prefer */
  font-weight:bold;
}
.contactusinfo{
    color:#238ae6;
    font-size:16px;
    font-weight:600;
}
.contactusinfo1{
    color:#ba1c24;
    font-size:16px;
    font-weight:600;
}
.list-area li{
    list-style-type: none;
}
.ceramic-keywords li:not(:first-child)::before  {
    content: "|"; /* Insert content that looks like bullets */
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
}
.ceramic-keywords li {
    display: inline-block;
    margin-right: 10px; /* add spacing between items */
}
.ceramic-keywords{
    text-align:center;
}
.subtitle{
    text-align:left;
    font-size:20px;
    font-weight:700
}
.benefits{
    list-style: none;
}
.benefits li::before {
  content: "âœ“"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #ba1c24; /* Or a color you prefer */
  font-weight:bold;
}